#cont1{
    display: flex;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}
div{
    margin:  20px 0;
}
#lab{
    margin-left: 150px;
}